body {
  font-family: Arial, Helvetica, sans-serif;
}
.grid-container {
  display: grid;
  gap: 0;
}
.header {
  background-color: lightblue;
  font-size: larger;
}
.header-items {
  display: flex;
  align-items: start;
}
.computer-view {
  display: none;
}
.nav {
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  display: grid;
}
.footer {
  background-color: darkblue;
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.filtro {
  background-color: #fff;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  color: #555;
  width: 100%;
  max-width: 220px;
  margin-bottom: 10px;
}
.car-icon {
  width: 30px;
  margin: 15px;
}
.socials {
  width: 30px;
  filter: invert();
  margin-top: 10px;
}
.footer p {
  margin-top: 0px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid 1px;
  border-color: darkgrey;
  background-color: #fff;
  margin: 20px;
}
.button {
  background-color: lightblue;
  padding: 20px;
  border-radius: 10%;
  margin: 0;
  margin-bottom: 20px;
}
.car {
  width: 500px;
  height: auto;
}
.description {
  margin-bottom: 5px;
}
@media (min-width: 576px) {
  .header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-items: center;
  }
  .header-items {
    display: flex;
    align-items: start;
  }
  .car-icon {
    width: 30px;
    margin-left: 0px;
  }
  .computer-view {
    display: flex;
  }
  .nav {
    grid-area: nav;
  }
  .main {
    grid-area: main;
  }
  .footer {
    grid-area: footer;
  }
  .grid-container {
    display: grid;
    gap: 0;
    grid-template-columns: auto 80%;
    grid-template-areas:
      "header nav"
      "header main"
      "footer main";
  }
}
